/* ==================
  base
    タグに直接スタイルをかける
================== */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // base font size = 10px
  line-height: 1.4em;
  font-family: $MAIN_FONT_FAMILY;
}

// 文字のアンチエイリアス
body,
html {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  body,
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

// iosのスタイル初期化
input[type="text"],
input[type="button"],
input[type="email"],
input[type="submit"],
textarea {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;

  &:-webkit-search-decoration {
    display: none;
  }

  &:focus {
    outline-offset: -2px;
  }
}
