// ==================
//    variable
// ==================

// breakpoint
$BP_L: 960px;
$BP_M: 780px;
$BP_S: 480px;

// color
$C_BLACK: black;
$C_WHITE: white;
$C_GRAY: #efefef;
$C_DARK_GRAY: #dadada;
$C_RED: #e70012;
$C_BLUE: #004ea1;
$C_GREEN: green;
$C_YELLOW: #fffdee;
$C_DARK_YELLOW: #b6b6b4;
$C_FONT: #444;

// font
$MAIN_FONT_FAMILY: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$JP_FONT_FAMILY: "Sawarabi Mincho";
$EN_FONT_FAMILY: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;

// path
$IMG: "../images/";