@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==================
  base
    タグに直接スタイルをかける
================== */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.4em;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

body,
html {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  body,
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

input[type="text"],
input[type="button"],
input[type="email"],
input[type="submit"],
textarea {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  border: none;
}

input[type="text"]:-webkit-search-decoration,
input[type="button"]:-webkit-search-decoration,
input[type="email"]:-webkit-search-decoration,
input[type="submit"]:-webkit-search-decoration,
textarea:-webkit-search-decoration {
  display: none;
}

input[type="text"]:focus,
input[type="button"]:focus,
input[type="email"]:focus,
input[type="submit"]:focus,
textarea:focus {
  outline-offset: -2px;
}

/* ==================
  animation
    keyframesでのアニメーション
================== */
@keyframes scale {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.4);
  }
}

/* ==================
  format
    共通のスタイル

  INDEX
    - elm
    - font
    - margin, padding
    - layout
================== */
/* ==================
  elm
================== */
.pc-elm {
  display: block;
}

.pc-elm.i {
  display: inline;
}

.pc-elm.t {
  display: table;
}

@media screen and (max-width: 480px) {
  .pc-elm {
    display: none !important;
  }
}

.sp-elm {
  display: none;
}

@media screen and (max-width: 480px) {
  .sp-elm {
    display: block !important;
  }
  .sp-elm.i {
    display: inline !important;
  }
  .sp-elm.t {
    display: table !important;
  }
}

/* ==================
  font
================== */
.f-jp {
  font-family: "Sawarabi Mincho" !important;
}

.f-en {
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}

.f-xlarge {
  font-size: 1.4em !important;
}

.f-large {
  font-size: 1.2em !important;
}

.f-small {
  font-size: 0.8em !important;
}

.f-xsmall {
  font-size: 0.6em !important;
}

.f-black {
  color: black !important;
}

.f-white {
  color: white !important;
}

.f-gray {
  color: #efefef !important;
}

.f-red {
  color: #e70012 !important;
}

.f-blue {
  color: #004ea1 !important;
}

.f-yellow {
  color: #fffdee !important;
}

.f-green {
  color: green !important;
}

.f-bold {
  font-weight: bold !important;
}

.f-italic {
  font-style: italic !important;
}

/* ==================
  margin, padding
================== */
.mt-0 {
  margin-top: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mr-35 {
  margin-right: 35px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.ml-35 {
  margin-left: 35px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.pr-35 {
  padding-right: 35px !important;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.pl-35 {
  padding-left: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.ml-45 {
  margin-left: 45px !important;
}

.pt-45 {
  padding-top: 45px !important;
}

.pr-45 {
  padding-right: 45px !important;
}

.pb-45 {
  padding-bottom: 45px !important;
}

.pl-45 {
  padding-left: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.mt-55 {
  margin-top: 55px !important;
}

.mr-55 {
  margin-right: 55px !important;
}

.mb-55 {
  margin-bottom: 55px !important;
}

.ml-55 {
  margin-left: 55px !important;
}

.pt-55 {
  padding-top: 55px !important;
}

.pr-55 {
  padding-right: 55px !important;
}

.pb-55 {
  padding-bottom: 55px !important;
}

.pl-55 {
  padding-left: 55px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mr-60 {
  margin-right: 60px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.ml-60 {
  margin-left: 60px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pr-60 {
  padding-right: 60px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.pl-60 {
  padding-left: 60px !important;
}

.mt-65 {
  margin-top: 65px !important;
}

.mr-65 {
  margin-right: 65px !important;
}

.mb-65 {
  margin-bottom: 65px !important;
}

.ml-65 {
  margin-left: 65px !important;
}

.pt-65 {
  padding-top: 65px !important;
}

.pr-65 {
  padding-right: 65px !important;
}

.pb-65 {
  padding-bottom: 65px !important;
}

.pl-65 {
  padding-left: 65px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mr-70 {
  margin-right: 70px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.ml-70 {
  margin-left: 70px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.pr-70 {
  padding-right: 70px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.pl-70 {
  padding-left: 70px !important;
}

.mt-75 {
  margin-top: 75px !important;
}

.mr-75 {
  margin-right: 75px !important;
}

.mb-75 {
  margin-bottom: 75px !important;
}

.ml-75 {
  margin-left: 75px !important;
}

.pt-75 {
  padding-top: 75px !important;
}

.pr-75 {
  padding-right: 75px !important;
}

.pb-75 {
  padding-bottom: 75px !important;
}

.pl-75 {
  padding-left: 75px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mr-80 {
  margin-right: 80px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.ml-80 {
  margin-left: 80px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pr-80 {
  padding-right: 80px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.pl-80 {
  padding-left: 80px !important;
}

.mt-85 {
  margin-top: 85px !important;
}

.mr-85 {
  margin-right: 85px !important;
}

.mb-85 {
  margin-bottom: 85px !important;
}

.ml-85 {
  margin-left: 85px !important;
}

.pt-85 {
  padding-top: 85px !important;
}

.pr-85 {
  padding-right: 85px !important;
}

.pb-85 {
  padding-bottom: 85px !important;
}

.pl-85 {
  padding-left: 85px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mr-90 {
  margin-right: 90px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.ml-90 {
  margin-left: 90px !important;
}

.pt-90 {
  padding-top: 90px !important;
}

.pr-90 {
  padding-right: 90px !important;
}

.pb-90 {
  padding-bottom: 90px !important;
}

.pl-90 {
  padding-left: 90px !important;
}

.mt-95 {
  margin-top: 95px !important;
}

.mr-95 {
  margin-right: 95px !important;
}

.mb-95 {
  margin-bottom: 95px !important;
}

.ml-95 {
  margin-left: 95px !important;
}

.pt-95 {
  padding-top: 95px !important;
}

.pr-95 {
  padding-right: 95px !important;
}

.pb-95 {
  padding-bottom: 95px !important;
}

.pl-95 {
  padding-left: 95px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.pr-100 {
  padding-right: 100px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.pl-100 {
  padding-left: 100px !important;
}

.mt-105 {
  margin-top: 105px !important;
}

.mr-105 {
  margin-right: 105px !important;
}

.mb-105 {
  margin-bottom: 105px !important;
}

.ml-105 {
  margin-left: 105px !important;
}

.pt-105 {
  padding-top: 105px !important;
}

.pr-105 {
  padding-right: 105px !important;
}

.pb-105 {
  padding-bottom: 105px !important;
}

.pl-105 {
  padding-left: 105px !important;
}

.mt-110 {
  margin-top: 110px !important;
}

.mr-110 {
  margin-right: 110px !important;
}

.mb-110 {
  margin-bottom: 110px !important;
}

.ml-110 {
  margin-left: 110px !important;
}

.pt-110 {
  padding-top: 110px !important;
}

.pr-110 {
  padding-right: 110px !important;
}

.pb-110 {
  padding-bottom: 110px !important;
}

.pl-110 {
  padding-left: 110px !important;
}

.mt-115 {
  margin-top: 115px !important;
}

.mr-115 {
  margin-right: 115px !important;
}

.mb-115 {
  margin-bottom: 115px !important;
}

.ml-115 {
  margin-left: 115px !important;
}

.pt-115 {
  padding-top: 115px !important;
}

.pr-115 {
  padding-right: 115px !important;
}

.pb-115 {
  padding-bottom: 115px !important;
}

.pl-115 {
  padding-left: 115px !important;
}

.mt-120 {
  margin-top: 120px !important;
}

.mr-120 {
  margin-right: 120px !important;
}

.mb-120 {
  margin-bottom: 120px !important;
}

.ml-120 {
  margin-left: 120px !important;
}

.pt-120 {
  padding-top: 120px !important;
}

.pr-120 {
  padding-right: 120px !important;
}

.pb-120 {
  padding-bottom: 120px !important;
}

.pl-120 {
  padding-left: 120px !important;
}

/* ==================
  layout
================== */
.al-c {
  text-align: center !important;
}

.al-r {
  text-align: right !important;
}

.al-l {
  text-align: left !important;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 780px) {
  /* ==================
  hover
    ホバー用のスタイル

  INDEX
    - opacity
    - translateY
================== */
  /* ==================
  opacity
================== */
  .h-opa {
    opacity: 1;
    transition: opacity 0.3s;
  }
  .h-opa:hover {
    opacity: 0.6;
  }
  /* ==================
  translateY
================== */
  .h-tfY {
    transform: translateY(0);
    transition: transform 0.3s;
  }
  .h-tfY:hover {
    transform: translateY(-10px);
  }
}

/* ==================
  common

  index
    - wrapper
    - section
    - header
    - global menu
    - belt
    - list
    - box
    - youtube
    - contact
    - faq
    - company
    - footer
================== */
/* ==================
  wrapper
================== */
.inner {
  position: relative;
  z-index: 1;
  max-width: 960px;
  display: block;
  margin: auto;
  padding: 0 20px;
}

/* ==================
  section
================== */
.section {
  position: relative;
  background-color: #efefef;
  padding: 30px 0;
}

.section.bg-w {
  background-color: white;
}

.section .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../images/back1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 100%;
  margin: auto;
  opacity: 1;
}

.section-title {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.section-title h2 {
  font-size: 2.4rem;
  line-height: 1.6;
  font-weight: bold;
  letter-spacing: 1px;
}

.section-title h3 {
  font-size: 1.6rem;
}

.section p {
  line-height: 2;
  font-size: 1.2rem;
  color: #444;
}

.left-box,
.right-box {
  float: left;
  width: 50%;
}

.left-box img,
.right-box img {
  max-width: 256px;
  display: block;
  margin: auto;
}

@media screen and (max-width: 480px) {
  .left-box,
  .right-box {
    float: none;
    width: 100%;
  }
}

.price-table {
  width: 100%;
  background: white;
  margin: 0 10px 5px;
  border-collapse: collapse;
  border: 1px solid black;
  line-height: 1.6;
}

@media screen and (max-width: 480px) {
  .price-table {
    margin: 20px 0;
  }
}

.price-table th,
.price-table td {
  vertical-align: middle;
  height: 25px;
  padding: 0 10px;
  border-collapse: collapse;
  border: 1px solid black;
}

.price-table thead th {
  text-align: left;
  background: black;
  color: white;
  font-size: 1.6rem;
}

.price-table thead th.bg-g {
  background: #aaa;
}

.price-table tbody th {
  font-size: 1.2rem;
}

.price-table tbody td {
  font-size: 1.2rem;
  width: 80%;
}

.price-table tbody td.table-bg {
  position: relative;
}

.price-table tbody td.table-bg:before {
  content: "";
  position: absolute;
  width: 75px;
  height: 57px;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url("../images/price_red.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 480px) {
  .price-table tbody td.table-bg {
    width: auto;
  }
  .price-table tbody td.table-bg:before {
    display: none;
  }
}

.price-caution {
  margin: 0 10px;
  line-height: 1.3 !important;
}

.yellow-area {
  background-color: #fffdee;
  padding: 20px 0 10px;
  margin: 40px 0 20px;
}

/* ==================
  header
================== */
.header {
  position: relative;
  display: block;
  width: 100vw;
  height: calc(100vh - 75px);
  background-image: url("../images/top.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

@media screen and (max-width: 780px) {
  .header {
    height: 500px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    height: 300px;
  }
}

.main-title {
  color: white;
  font-size: 4rem;
  line-height: 1.2;
  background: linear-gradient(45deg, rgba(251, 46, 0, 0.85), rgba(255, 59, 0, 0.02));
  padding: 20px 50px;
  position: absolute;
  width: 100%;
  top: 12vw;
}

@media screen and (max-width: 780px) {
  .main-title {
    text-align: center;
    font-size: 3rem;
    top: 160px;
  }
}

@media screen and (max-width: 480px) {
  .main-title {
    text-align: center;
    font-size: 2.3rem;
    top: 110px;
    padding: 20px 0;
  }
}

.main-logo {
  width: 150px;
  position: absolute;
  top: 20px;
  left: 20px;
}

/* ==================
  global menu
================== */
.global-menu {
  background-color: white;
}

@media screen and (max-width: 480px) {
  .global-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 50vw;
    background: white;
    z-index: 9999;
    transition: transform 0.5s;
    transform: translateX(100%);
  }
  .global-menu .inner {
    margin-top: 15vh;
  }
  .global-menu.js-active {
    transform: translateX(0);
  }
}

.global-menu .close-btn {
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  margin: auto;
  width: 30px;
  height: 30px;
}

.global-menu .close-btn:before, .global-menu .close-btn:after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
}

.global-menu .close-btn:before {
  transform: rotate(45deg);
}

.global-menu .close-btn:after {
  transform: rotate(-45deg);
}

.global-menu-list:after {
  content: "";
  display: table;
  clear: both;
}

.global-menu-list__item {
  position: relative;
  float: left;
  width: calc(100% / 6);
  text-align: center;
}

.global-menu-list__item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.3s;
  bottom: 0;
  left: 0;
  background-color: black;
}

.global-menu-list__item:hover:before {
  height: 3px;
}

@media screen and (max-width: 480px) {
  .global-menu-list__item {
    float: none;
    width: 100% !important;
  }
}

.global-menu-list__item a {
  display: block;
  padding: 20px 0;
  color: black;
}

.menu-title {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: bold;
}

.toggle-menu {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  transition: all .4s;
  box-sizing: border-box;
  background-color: white;
  z-index: 9999;
  border-radius: 50%;
}

.toggle-menu span {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 26px;
  height: 4px;
  background-color: black;
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.toggle-menu span:nth-of-type(1) {
  top: 14px;
}

.toggle-menu span:nth-of-type(2) {
  top: 23px;
}

.toggle-menu span:nth-of-type(3) {
  bottom: 14px;
}

/* ==================
  belt 
================== */
.belt {
  margin: 50px 0 50px 10px;
  text-align: center;
}

.belt-inner {
  position: relative;
  display: table;
  height: 60px;
  z-index: 1;
}

@media screen and (max-width: 780px) {
  .belt-inner {
    width: 90%;
  }
}

.belt > div {
  position: relative;
  display: inline-block;
  width: 20%;
}

@media screen and (max-width: 780px) {
  .belt > div {
    width: 80%;
    margin-bottom: 10px;
  }
}

.belt > div:before {
  content: "";
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: 0;
  left: -30px;
  border-radius: 50%;
  z-index: 0;
}

.belt > div:after {
  content: "";
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: 0;
  right: -30px;
  border-radius: 50%;
  z-index: 0;
  background-color: #efefef;
}

.belt > div.blue {
  background-color: #004ea1;
}

.belt > div.blue:before {
  background-color: #004ea1;
}

.belt > div.blue p {
  color: white;
}

.belt > div.white {
  background-color: white;
}

.belt > div.white:before {
  background-color: white;
}

.belt > div.red {
  background-color: #e70012;
}

.belt > div.red:before {
  background-color: #e70012;
}

.belt > div.red p {
  color: white;
}

.belt > div p {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2rem;
  line-height: 1.3;
  padding-left: 10px;
}

/* ==================
  list
================== */
.list {
  margin: 50px 0;
}

.list:after {
  content: "";
  display: table;
  clear: both;
}

.list__item {
  float: left;
}

.list__item a {
  display: block;
  color: black;
}

.list__item-img-bg {
  width: 100%;
  height: 20vh;
  background-size: cover;
}

.list__item-title {
  font-size: 2rem;
  line-height: 2;
  margin: 10px 0;
}

.list__item-time {
  display: block;
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.5);
}

.list__item-blogtitle {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.2;
}

.list.column-2 .list__item {
  width: 49%;
}

.list.column-2 .list__item:nth-child(2n) {
  margin-left: 2%;
}

@media screen and (max-width: 480px) {
  .list.column-2 .list__item {
    width: 100%;
    margin-bottom: 40px;
  }
  .list.column-2 .list__item:nth-child(2n) {
    margin-left: 0;
  }
}

.list.column-4 .list__item {
  width: 23.5%;
  margin-bottom: 20px;
}

.list.column-4 .list__item:not(:nth-child(4n)) {
  margin-right: 2%;
}

@media screen and (max-width: 480px) {
  .list.column-4 .list__item {
    width: 48%;
    margin-bottom: 20px;
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .list.column-4 .list__item:not(:nth-child(4n)) {
    margin-right: 0;
  }
  .list.column-4 .list__item:nth-child(2n) {
    margin-left: 2%;
  }
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.bg-gray {
  background-color: gray;
}

/* ==================
  box
================== */
.yellow-box {
  background-color: #fffdee;
  border: 1px solid #b6b6b4;
  letter-spacing: 2px;
  font-size: 1.2rem;
  line-height: 1.2;
}

.white-box {
  background-color: white;
  border: 1px solid #efefef;
  letter-spacing: 2px;
  font-size: 1.2rem;
  line-height: 1.2;
}

.gray-box {
  background-color: #b4b4b4;
  border: 1px solid black;
  letter-spacing: 2px;
  font-size: 1.2rem;
  line-height: 1.2;
}

/* ==================
  youtube
================== */
.youtube-area {
  max-width: 600px;
  margin: 50px auto;
}

.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

/* ==================
  contact
================== */
.contact {
  background-color: white;
  border: 1px solid #dadada;
}

.contact .row:not(:first-child) {
  border-top: 1px solid #dadada;
}

.contact-title, .contact-input {
  display: inline-block;
  vertical-align: top;
}

.contact-title {
  width: 39%;
  padding: 15px 20px;
}

@media screen and (max-width: 780px) {
  .contact-title {
    width: 100%;
  }
}

.contact-title.required p:after {
  content: "必須";
  color: #e70012;
  margin-left: 5px;
}

.contact-input {
  width: 60%;
  padding: 12px 30px;
  border-left: 1px solid #dadada;
}

@media screen and (max-width: 780px) {
  .contact-input {
    width: 100%;
    padding: 0px 30px 12px;
    border: none;
  }
}

.contact-input input,
.contact-input textarea {
  width: 80%;
  height: 30px;
  border: 1px solid #dadada;
  border-radius: 3px;
  background: #efefef;
  padding: 0 7px;
  font-size: 1.4rem;
}

.contact-input input.tel,
.contact-input textarea.tel {
  width: 20%;
}

.contact-input textarea {
  width: 90%;
  height: 120px;
  padding: 4px 8px;
}

p.caution {
  color: #aaa;
  margin-top: 10px;
}

.quote {
  margin: 0 10px;
  font-size: 2rem;
  color: #b6b6b4;
}

.submit-btn {
  width: 100%;
  margin: 20px 0;
  font-size: 2rem;
  padding: 5px;
  background: black;
  color: white;
  letter-spacing: 2px;
  transition: 0.3s;
  opacity: 1;
}

.submit-btn:hover {
  opacity: 0.8;
}

/* ==================
  faq
================== */
.faq-box__f, .faq-box__a {
  padding: 10px 0;
  font-size: 1.2rem;
}

.faq-box__f p, .faq-box__a p {
  display: inline-block;
  vertical-align: top;
}

.faq-box__f p:first-child, .faq-box__a p:first-child {
  width: 50px;
  text-align: center;
}

.faq-box__f p:nth-of-type(2), .faq-box__a p:nth-of-type(2) {
  width: calc(100% - 50px);
}

.faq-box__f {
  background-color: #efefef;
}

.faq-box__f p {
  color: #3a77b6;
}

/* ==================
  company
================== */
.logo {
  width: 240px;
  margin: auto;
}

.company-info-title {
  line-height: 1.4 !important;
  font-size: 1.4rem !important;
}

.company-info-title span.x-large {
  font-size: 2.5rem !important;
}

.company-info-text {
  line-height: 1.4 !important;
  font-size: 1rem !important;
}

.fb {
  text-align: center;
  margin: 10px 0 30px;
  font-size: 2rem;
}

.fb a {
  color: #385692;
}

/* ==================
  footer
================== */
.footer {
  background: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer i {
  margin-right: 5px;
}

.copy {
  font-size: 1.4rem;
}

.top-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  z-index: 100000;
  opacity: 0;
  transition: 0.3s;
}

.top-btn.js-active {
  opacity: 1;
}

.top-btn span {
  color: white;
  text-align: center;
  display: block;
  top: 10px;
  position: absolute;
  right: 0;
  left: 0;
}

.top-btn:before {
  content: "";
  border-style: solid;
  border-width: 3px;
  width: 10px;
  height: 10px;
  border-color: white white transparent transparent;
  display: block;
  top: 30px;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  transform: rotate(-45deg);
}
