/* ==================
  common

  index
    - wrapper
    - section
    - header
    - global menu
    - belt
    - list
    - box
    - youtube
    - contact
    - faq
    - company
    - footer
================== */

/* ==================
  wrapper
================== */
.wrapper {
  
}

.inner {
  position: relative;
  z-index: 1;
  max-width: $BP_L;
  display: block;
  margin: auto;
  padding: 0 20px;
}


/* ==================
  section
================== */
.section {
  position: relative;
  background-color: $C_GRAY;
  padding: 30px 0;

  &.bg-w {
    background-color: $C_WHITE;
  }

  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url($IMG+"back1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100%;
    margin: auto;
    opacity: 1;
  }

  &-title {
    display: block;
    text-align: center;
    margin-bottom: 30px;

    h2 {
      font-size: 2.4rem;
      line-height: 1.6;
      font-weight: bold;
      letter-spacing: 1px;
    }

    h3 {
      font-size: 1.6rem;
    }
  }

  p {
    line-height: 2;
    font-size: 1.2rem;
    color: $C_FONT;
  }
}

.left-box,
.right-box {
  float: left;
  width: 50%;

  @include mq-s() {
    float: none;
    width: 100%;
  }
}

.price-table {
  width: 100%;
  background: white;
  margin: 0 10px 20px;
  border-collapse: collapse;
  border: 1px solid black;
  line-height: 1.6;

  @include mq-s() {
    margin: 20px 0;
  }

  th,
  td {
    vertical-align: middle;
    height: 40px;
    padding: 0 10px;
    border-collapse: collapse;
    border: 1px solid black;
  }

  thead {
    th {
      text-align: left;
      background: black;
      color: white;
      font-size: 1.6rem;

      &.bg-g {
        background: #aaa;
      }
    }
  }

  tbody {
    th {
      font-size: 1.2rem;
    }

    td {
      font-size: 1.2rem;
      width: 80%;

      &.table-bg {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          width: 75px;
          height: 57px;
          right: 5px;
          top: 0;
          bottom: 0;
          margin: auto;
          background-image: url($IMG+'price_red.png');
          background-size: cover;
          background-repeat: no-repeat;
        }

        @include mq-s() {
          width: auto;
          &:before {
            display: none;
          }
        }
      }
    }
  }
}

.price-caution {
  margin: 0 10px;
}


/* ==================
  hader
================== */
.header {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: url($IMG+"top.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  @include mq-m() {
    height: 500px;
  }

  @include mq-s() {
    height: 300px;
  }
}

.main-title {
  color: white;
  font-size: 4rem;
  line-height: 1.2;
  background: linear-gradient(45deg, rgba(251, 46, 0, 0.85), rgba(255, 59, 0, 0.02));
  padding: 20px 50px;
  position: absolute;
  width: 100%;
  top: 10vw;

  @include mq-m() {
    text-align: center;
    font-size: 3rem;
    top: 160px;
  }

  @include mq-s() {
    text-align: center;
    font-size: 2.3rem;
    top: 110px;
    padding: 20px 0;
  }
}


/* ==================
  global menu
================== */
.global-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: $C_WHITE;

  @include mq-s() {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 50vw;
    background: $C_WHITE;
    z-index: 9999;
    transition: transform 0.5s;
    transform: translateX(100%);

    .inner {
      margin-top: 24vh;
    }

    &.js-active {
      transform: translateX(0);
    }
  }

  .close-btn {
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;
    margin: auto;
    width: 30px;
    height: 30px;

    &:before,
    &:after {
      content: "";
      width: 100%;
      height: 4px;
      background-color: $C_BLACK;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      transform: rotate(45deg);
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &-list {
    @include clearfix();

    &__item {
      position: relative;
      float: left;
      width: 20%;
      text-align: center;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height:0;
        transition: 0.3s;
        bottom: 0;
        left: 0;
        background-color: $C_BLACK;
      }

      &:hover {
        &:before {
          height: 3px;
        }
      }

      @include mq-s() {
        float: none;
        width: 100% !important;
      }

      a {
        display: block;
        padding: 20px 0;
        color: $C_BLACK;
      }
    }
  }
}

// メニューの大きい文字
.menu-title {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: bold;
}

// メニューの小さい文字
.menu-sub {

}

.toggle-menu {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  transition: all .4s;
  box-sizing: border-box;
  background-color: $C_WHITE;
  z-index: 9999;
  border-radius: 50%;

  span {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 26px;
    height: 4px;
    background-color: $C_BLACK;
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;

    &:nth-of-type(1) {
      top: 14px;
    }

    &:nth-of-type(2) {
      top: 23px;
    }

    &:nth-of-type(3) {
      bottom: 14px;
    }
  }
}


/* ==================
  belt 
================== */
.belt {
  margin: 50px 0 50px 10px;
  text-align: center;

  &-inner {
    position: relative;
    display: table;
    height: 60px;
    z-index: 1;

    @include mq-m() {
      width: 90%;
    }
  }

  > div {
    position: relative;
    display: inline-block;
    width: 20%;

    @include mq-m() {
      width: 80%;
      margin-bottom: 10px;
    }

    &:before {
      content: "";
      width: 60px;
      height: 60px;
      display: block;
      position: absolute;
      top: 0;
      left: -30px;
      border-radius: 50%;
      z-index: 0;
    }

    &:after {
      content: "";
      width: 60px;
      height: 60px;
      display: block;
      position: absolute;
      top: 0;
      right: -30px;
      border-radius: 50%;
      z-index: 0;
      background-color: $C_GRAY;
    }

    &.blue {
      background-color: $C_BLUE;

      &:before {
        background-color: $C_BLUE;
      }
      
      p {
        color: $C_WHITE;
      }
    }

    &.white {
      background-color: $C_WHITE;

      &:before {
        background-color: $C_WHITE;
      }
    }

    &.red {
      background-color: $C_RED;

      &:before {
        background-color: $C_RED;
      }

      p {
        color: $C_WHITE;
      }
    }

    p {
      display: table-cell;
      vertical-align: middle;
      font-size: 1.2rem;
      line-height: 1.3;
      padding-left: 10px;
    }
  }
}


/* ==================
  list
================== */
.list {
  @include clearfix();
  margin: 50px 0;

  &__item {
    float: left;

    a {
      display: block;
      color: $C_BLACK;
    }

    &-img-bg {
      width: 100%;
      height: 20vh;
      background-size: cover;
    }

    &-title {
      font-size: 2rem;
      line-height: 2;
      margin: 10px 0;
    }

    &-text {

    }

    &-time {
      display: block;
      margin: 10px 0;
      color: rgba($C_BLACK, 0.5);
    }

    &-blogtitle {
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 1.2;
    }
  }

  &.column-2 &__item {
    width: 49%;

    &:nth-child(2n) {
      margin-left: 2%;
    }

    @include mq-s() {
      width: 100%;
      margin-bottom: 40px;

      &:nth-child(2n) {
        margin-left: 0;
      }
    }
  }

  &.column-4 &__item {
    width: 23.5%;

    &:not(:nth-child(4n)) {
      margin-right: 2%;
    }

    @include mq-s() {
      width: 49%;
      margin-bottom: 20px;

      &:not(:nth-child(4n)) {
        margin-right: 0;
      }

      &:nth-child(2n) {
        margin-left: 2%;
      }
    }
  }
}


/* ==================
  box
================== */
.yellow-box {
  background-color: $C_YELLOW;
  border: 1px solid $C_DARK_YELLOW;
  letter-spacing: 2px;
  font-size: 1.2rem;
  line-height: 1.2;
}


/* ==================
  youtube
================== */
.youtube-area {
  max-width: 600px;
  margin: 50px auto;
}

.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
  }
}


/* ==================
  contact
================== */
.contact {
  background-color: $C_WHITE;
  border: 1px solid $C_DARK_GRAY;

  .row:not(:first-child) {
    border-top: 1px solid $C_DARK_GRAY;
  }

  &-title,
  &-input {
    display: inline-block;
    vertical-align: top;
  }

  &-title {
    width: 39%;
    padding: 15px 20px;

    @include mq-m() {
      width: 100%;
    }

    &.required {
      p:after {
        content: "必須";
        color: $C_RED;
        margin-left: 5px;
      }
    }
  }

  &-input {
    width: 60%;
    padding: 12px 30px;
    border-left: 1px solid $C_DARK_GRAY;

    @include mq-m() {
      width: 100%;
      padding: 0px 30px 12px;
      border: none;
    }

    
    input,
    textarea {
      width: 80%;
      height: 30px;
      border: 1px solid $C_DARK_GRAY;
      border-radius: 3px;
      background: $C_GRAY;
      padding: 0 7px;
      font-size: 1.4rem;

      &.tel {
        width: 20%;
      }
    }

    textarea {
      width: 90%;
      height: 120px;
      padding: 4px 8px;
    }
  }
}

p.caution {
  color: #aaa;
  margin-top: 10px;
}

.quote {
  margin: 0 10px;
  font-size: 2rem;
  color: $C_DARK_YELLOW;
}

.submit-btn {
  width: 100%;
  margin: 20px 0;
  font-size: 2rem;
  padding: 5px;
  background: $C_BLACK;
  color: $C_WHITE;
  letter-spacing: 2px;
  transition: 0.3s;
  opacity: 1;

  &:hover {
    opacity: 0.8;
  }
}


/* ==================
  faq
================== */


/* ==================
  company
================== */
.logo {
  width: 240px;
  margin: auto;
}

.company-info {
  &-title {
    line-height: 1.4 !important;
    font-size: 1.4rem !important;

    span.x-large {
      font-size: 2.5rem !important;
    }
  }

  &-text {
    line-height: 1.4 !important;
    font-size: 1rem !important;
  }
}

.fb {
  text-align: center;
  margin: 10px 0 30px;
  font-size: 2rem;
  
  a {
    color: #385692;
  }
}


/* ==================
  footer
================== */
.footer {
  background: $C_BLACK;
  color: $C_WHITE;
  padding: 20px;
  text-align: center;

  i {
    margin-right: 5px;
  }
}

.copy {
  font-size: 1.4rem;
}


.top-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  span {
    color: white;
    text-align: center;
    display: block;
    top: 10px;
    position: absolute;
    right: 0;
    left: 0;
  }

  &:before {
    content: "";
    border-style: solid;
    border-width: 3px;
    width: 10px;
    height: 10px;
    border-color: white white transparent transparent;
    display: block;
    top: 30px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    transform: rotate(-45deg);
  }
}