/* ==================
  common

  index
    - common
    - wrapper
    - section
    - header
    - global menu
    - belt
    - list
    - box
    - youtube
    - contact
    - faq
    - company
    - footer
================== */

/* ==================
  common
================== */


/* ==================
  wrapper
================== */
.wrapper {

}

.inner {
  position: relative;
  z-index: 1;
  max-width: $BP_L;
  display: block;
  margin: auto;
}

.pc-elm {
  display: block;
}

.sp-elm {
  display: none;
}


/* ==================
  section
================== */
.section {
  position: relative;
  background-color: $C_GRAY;
  padding: 30px 0;

  &.bg-w {
    background-color: $C_WHITE;
  }

  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url($IMG+"top.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100%;
    margin: auto;
    opacity: 0.1;
  }

  &-title {
    display: block;
    text-align: center;
    margin-bottom: 30px;

    h2 {
      font-size: 2.4rem;
      line-height: 1.6;
      font-weight: bold;
      letter-spacing: 1px;
    }

    h3 {
      font-size: 1.6rem;
    }
  }

  p {
    line-height: 2;
    font-size: 1.2rem;
    color: $C_FONT;
  }
}


/* ==================
  hader
================== */
.header {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: url($IMG+"top.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}


/* ==================
  global menu
================== */
.global-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: $C_WHITE;

  &-list {
    @include clearfix();

    &__item {
      float: left;
      width: 20%;
      text-align: center;

      a {
        display: block;
        padding: 20px 0;
        color: $C_BLACK;
      }
    }
  }
}

// メニューの大きい文字
.menu-title {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: bold;
}

// メニューの小さい文字
.menu-sub {

}


/* ==================
  belt 
================== */
.belt {
  margin: 50px 0 50px 30px;
  text-align: center;

  &-inner {
    position: relative;
    display: table;
    height: 60px;
    z-index: 1;
  }

  > div {
    position: relative;
    display: inline-block;
    width: 20%;

    &:before {
      content: "";
      width: 60px;
      height: 60px;
      display: block;
      position: absolute;
      top: 0;
      left: -30px;
      border-radius: 50%;
      z-index: 0;
    }

    &:after {
      content: "";
      width: 60px;
      height: 60px;
      display: block;
      position: absolute;
      top: 0;
      right: -30px;
      border-radius: 50%;
      z-index: 0;
      background-color: $C_GRAY;
    }

    &.blue {
      background-color: $C_BLUE;

      &:before {
        background-color: $C_BLUE;
      }
      
      p {
        color: $C_WHITE;
      }
    }

    &.white {
      background-color: $C_WHITE;

      &:before {
        background-color: $C_WHITE;
      }
    }

    &.red {
      background-color: $C_RED;

      &:before {
        background-color: $C_RED;
      }

      p {
        color: $C_WHITE;
      }
    }

    p {
      display: table-cell;
      vertical-align: middle;
      font-size: 1.4rem;
      line-height: 1.4;
    }
  }
}


/* ==================
  list
================== */
.list {
  @include clearfix();
  margin: 50px 0;

  &__item {
    float: left;

    &-img {

    }

    &-title {
      font-size: 2rem;
      line-height: 2;
      margin: 10px 0;
    }

    &-text {

    }
  }

  &.column-2 &__item {
    width: 49%;

    &:nth-child(2n) {
      margin-left: 2%;
    }
  }

  &.column-4 &__item {
    width: 23.5%;

    &:not(:nth-child(4n)) {
      margin-right: 2%;
    }
  }
}


/* ==================
  box
================== */
.yellow-box {
  background-color: $C_YELLOW;
  border: 1px solid $C_DARK_YELLOW;
  letter-spacing: 2px;
  font-size: 1.2rem;
  line-height: 1.2;
}


/* ==================
  youtube
================== */
.youtube-area {
  max-width: 600px;
  margin: 50px auto;
}

.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
  }
}


/* ==================
  contact
================== */
.contact {
  background-color: $C_WHITE;
  border: 1px solid $C_DARK_GRAY;

  .row:not(:first-child) {
    border-top: 1px solid $C_DARK_GRAY;
  }

  &-title,
  &-input {
    display: inline-block;
    vertical-align: top;
  }

  &-title {
    width: 39%;
    padding: 15px 20px;

    &.required {
      p:after {
        content: "必須";
        color: $C_RED;
        margin-left: 5px;
      }
    }
  }

  &-input {
    width: 60%;
    padding: 12px 30px;
    border-left: 1px solid $C_DARK_GRAY;
    
    input,
    textarea {
      width: 80%;
      height: 30px;
      border: 1px solid $C_DARK_GRAY;
      border-radius: 3px;
      background: $C_GRAY;
      padding: 0 7px;
      font-size: 1.4rem;

      &.tel {
        width: 20%;
      }
    }

    textarea {
      width: 90%;
      height: 120px;
      padding: 4px 8px;
    }
  }
}

p.caution {
  color: #aaa;
  margin-top: 10px;
}

.quote {
  margin: 0 10px;
  font-size: 2rem;
  color: $C_DARK_YELLOW;
}

.submit-btn {
  width: 100%;
  margin: 20px 0;
  font-size: 2rem;
  padding: 5px;
  background: $C_BLACK;
  color: $C_WHITE;
  letter-spacing: 2px;
}


/* ==================
  faq
================== */


/* ==================
  company
================== */
.logo {
  width: 240px;
  margin: auto;
}

.company-info {
  &-title {
    line-height: 1.4 !important;
    font-size: 1.4rem !important;

    span.x-large {
      font-size: 2.5rem !important;
    }
  }

  &-text {
    line-height: 1.4 !important;
    font-size: 1rem !important;
  }
}

.fb {
  text-align: center;
  margin: 10px 0 30px;
  font-size: 2rem;
  
  a {
    color: #385692;
  }
}


/* ==================
  footer
================== */
.footer {
  background: $C_BLACK;
  color: $C_WHITE;
  padding: 20px;
  text-align: center;

  i {
    margin-right: 5px;
  }
}

.copy {
  font-size: 1.4rem;
}