haeder.header
  //- h1.main-title
  //-   |サーキット生まれのガードマン!!<br>
  //-   |様々なシーンでご活用ください!

  h2.main-logo
    img(src="./images/top-logo.png")

  .toggle-menu
      span
      span
      span

nav.global-menu
  .inner
    ul.global-menu-list
      li.global-menu-list__item#about-btn
        a(href="#about")
          p.menu-title ABOUT
          p.menu-sub 製品について
      li.global-menu-list__item#blog-btn
        a(href="#blog")
          p.menu-title BLOG
          p.menu-sub ブログ
      li.global-menu-list__item#contact-btn
        a(href="#contact")
          p.menu-title CONTACT
          p.menu-sub お問い合わせ
      li.global-menu-list__item#faq-btn
        a(href="#faq")
          p.menu-title FAQ
          p.menu-sub よくある質問
      li.global-menu-list__item#company-btn
        a(href="#company")
          p.menu-title COMPANY
          p.menu-sub 会社概要
      li.global-menu-list__item#download-btn
        a(href="./2018_Pamphlet.pdf", target="_blank")
          p.menu-title DOWNLOAD
          p.menu-sub パンフレット
      li.global-menu-list__item#rental-btn
        a(href="https://calendar.google.com/calendar/embed?src=blocco%40saka-senko.com&ctz=Asia%2FTokyo", target="_blank")
          p.menu-title CALENDAR
          p.menu-sub レンタル状況

  .close-btn

