haeder.header
  h1.main-title
    |サーキット生まれのガードマン!!<br>
    |次はあなたの業界で

  .toggle-menu.sp-elm
      span
      span
      span

  nav.global-menu
    .inner
      ul.global-menu-list
        li.global-menu-list__item
          a(href="#about")
            p.menu-title ABOUT
            p.menu-sub 製品について
        li.global-menu-list__item
          a(href="#contact")
            p.menu-title CONTACT
            p.menu-sub お問い合わせ
        li.global-menu-list__item
          a(href="#faq")
            p.menu-title FAQ
            p.menu-sub よくある質問
        li.global-menu-list__item
          a(href="#company")
            p.menu-title COMPANY
            p.menu-sub 会社概要
        li.global-menu-list__item
          a(href="#download")
            p.menu-title DOWNLOAD
            p.menu-sub パンフレット
    .close-btn.sp-elm

